.container{
    margin: 20px;
    padding: 40px;
    text-align: center;
}
.container input,button{
    font-size: 25px;
}
body{
    background-color: darkslategrey;
    color: white;
}
.todos{
    border: 1px solid beige;
}
.todos p{
    font-size: 25px;
}